<nav class="auth-navbar">

  <div class="logo">

    <div class="logo-icon">
      T
    </div>

    <h2>TaskFlow</h2>

  </div>

  <div class="nav-links">

    <a routerLink="/auth/login">
      Login
    </a>

    <a routerLink="/auth/signup">
      Sign Up
    </a>

  </div>

</nav>

<div class="auth-page">

  <div class="auth-container">

    <div class="left-auth">

      <div class="form-card">

        <div class="logo-center">

          <div class="logo-icon">
            T
          </div>

          <h2>TaskFlow</h2>

        </div>

        <h1>Forgot Password</h1>

        <p>Reset your account password</p>

        <!-- SUCCESS MESSAGE -->
        <div
          class="success-msg"
          *ngIf="successMessage"
        >
          {{successMessage}}
        </div>

        <!-- ERROR MESSAGE -->
        <div
          class="error-msg"
          *ngIf="errorMessage"
        >
          {{errorMessage}}
        </div>

        <!-- EMAIL -->
        <div class="input-group">

          <label>Email</label>

          <input
            type="email"
            [(ngModel)]="email"
            placeholder="Enter email"
          >

        </div>

        <!-- NEW PASSWORD -->
        <div class="input-group">

          <label>New Password</label>

          <input
            type="password"
            [(ngModel)]="newPassword"
            placeholder="Enter new password"
          >

        </div>

        <button
          class="auth-btn"
          (click)="resetPassword()"
        >
          Update Password
        </button>

        <div class="bottom-text">

          Back to

          <a routerLink="/auth/login">
            Login
          </a>

        </div>

      </div>

    </div>

    <div class="right-auth">

      <img src="./assets/images/login.jpg">

    </div>

  </div>

</div>