@import '../signup/signup.css';
.success-msg{
  background: #d4edda;
  color: #155724;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-weight: 600;
}

.error-msg{
  background: #f8d7da;
  color: #721c24;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-weight: 600;
}